button.s{
    padding-left: 40%;
    padding-right: 40%;
}
.button{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
}
.button:hover{
    filter: brightness(110%);
    cursor: pointer;
}
.button:active{
    filter: brightness(80%);
}
.button-period{
    /* transition: background-color .3s linear !important; */
    transition: .3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
}
.button-period:hover{
    transition: 0s ease-in-out;
    background-color: rgb(241, 132, 255) !important;
    cursor: pointer;
}
.button-period:active{
    filter: brightness(80%);
}
.rounded {
    border-radius: 20px;
    padding: 5%;
}

.animate__animated{
    --animate-duration: 1s;
}

.mainNumber {
    color: gray;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
    text-align: center;
    font-size: 300%;
}

.incomeBG {
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #5cb85c;
}

.expenseBG {
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #d9534f;
}

.transferBG {
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #5bc0de;
}




