.button-month{
    /* transition: background-color .3s linear !important; */
    transition: .3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
}
.button-month:hover{
    transition: 0s ease-in-out;
    background-color: rgb(241, 132, 255) !important;
    cursor: pointer;
}
.button-month:active{
    filter: brightness(80%);
}
.rounded {
    border-radius: 20px;
    padding: 3%;
}