<h1>Movimientos</h1>

<hr>

<div id="myGroup">

    <div class="row">
        <div class="col-12 mt-3">

            <button class="btn btn-outline-primary btn-block animate__animated" data-toggle="collapse" data-target="#contentId" aria-expanded="false" aria-controls="contentId">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Todos, 2020 <i class="fas fa-chevron-right"></i> 
            </button>

        </div>
    </div>

    <div class="collapse selector text-center container" id="contentId" data-parent="#myGroup">

        <div class="row">
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Enero')">
                <h4>Enero</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Febero')">
                <h4>Febrero</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Marzo')">
                <h4>Marzo</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Abril')">
                <h4>Abril</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Mayo')">
                <h4>Mayo</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Junio')">
                <h4>Junio</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Julio')">
                <h4>Julio</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Agosto')">
                <h4>Agosto</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Septiembre')">
                <h4>Septiembre</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Octubre')">
                <h4>Octubre</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Noviembre')">
                <h4>Noviembre</h4>
            </div>
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Diciembre')">
                <h4>Diciembre</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4 bg-light text-dark rounded button button-period" data-toggle="collapse" data-target="#contentId" (click)="selectedMes('Todos')">
                <h4>Todos los meses</h4>
            </div>
        </div>

    </div>

</div>