.expenseCard {
    background-color: white;
}

.grayText{
    color: gray;
}

.faStyled{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
}

.faStyledModal{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 50%;
}

.grayBG {
    background-color: rgb(235, 233, 233);
}

.optBtn{
    height: 40px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    position: absolute;
    right: 0;
    height: 200px;
    width: 50px;
    background: #428bca;
}
.container:hover .fade-in {
    opacity: 1;
}

.footer {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
